# 環境変数管理
.env

# Python関連
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg
.cache/
*.log
.ipynb_checkpoints/

# テスト・カバレッジ関連
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.tox/

# ローカルDB関連
mongo_data/
