# 環境変数管理
.env

# Python関連
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg
.cache/
*.log
.ipynb_checkpoints/

# テスト・カバレッジ関連
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.tox/

# ローカルDB関連
mongo_data/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
